name: CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: npm install
      - run: npm test
      - name: Run Trivy
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: devops-app:v2
          exit-code: 1
